---
import { Icon } from "astro-icon";
import Logo from "@pictures/logo/HorizontalFullColour.astro";

---
<footer class="p-4 dark:bg-gray-700 bg-gray-200 sm:p-6">
	<div class="md:flex md:justify-between">
		<div class="mb-6 md:mb-0">
			<a href="/" class="block dark:backdrop-blur-sm dark:bg-white/60 dark:rounded p-2 w-fit">
				<Logo class="mr-3 h-9" />
			</a>
		</div>
		<div class="flex flex-row">
			<div class="mx-3">
				<h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-dark-mode-foreground">Legal</h2>
				<ul class="text-gray-600 dark:text-gray-200">
					<li class="mb-4">
						<a href="/policy/privacy" class="hover:underline">Privacy Policy</a>
					</li>
					<li>
						<a href="/policy/toc" class="hover:underline">Terms &amp; Conditions</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
	<div class="sm:flex sm:items-center sm:justify-between">
		<span class="text-sm text-gray-600 sm:text-center dark:text-gray-200">© 2022 <a href="https://myhillcycling.co.uk" class="hover:underline">myHill Cycling</a> &amp; <span class="hover:underline">Vespion Softworks</span>. All Rights Reserved.
		</span>
		<div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
			<a href="https://www.instagram.com/myhill.cycling/" aria-label="myHill Cycling's Instagram page" class="text-gray-600 hover:text-gray-900 dark:text-white w-5 h-5">
				<Icon pack="brandico" name="instagram" />
			</a>
			<a href="https://www.facebook.com/myhillcycling/" aria-label="myHill Cycling's Facebook page" class="text-gray-600 hover:text-gray-900 dark:text-white w-5 h-5">
				<Icon pack="brandico" name="facebook-rect" />
			</a>
            
		</div>
	</div>
</footer>