{
    "extends": ["eslint:recommended", "preact", "plugin:cypress/recommended"],
    "plugins": [],
    "rules": {
        "quotes": ["warn", "double"],
        "semi": ["error", "always"],
        "jest/expect-expect": "off",
        "jest/valid-expect": "off",
        "jest/valid-expect-in-promise": "off",
        "jest/no-standalone-expect": "off"
    },
    "settings": {
        "jest": {
          "version": "28.1.0"
        }
      },
      "env": {
        "cypress/globals": true
      },
    "ignorePatterns":[ "*.json"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "overrides": [
        {
            "files": ["*.astro"],
            "parser": "astro-eslint-parser",
            // Parse the script in `.astro` as TypeScript by adding the following configuration.
            "parserOptions": {
                "parser": "@typescript-eslint/parser"
            }
        }
    ],
    "globals": {
        "Astro": "readonly"
    }
}