---
import Layout from "@layouts/ErrorLayout.astro";

---

<Layout code={404} message="Not Found">
	<div class="absolute top-48 z-10 italic backdrop-blur-sm w-full bg-white/60">
		<div class="text-xl text-brand mx-4">
			<h3 class="text-1xl sm:text-2xl md:text-4xl">Oh no, this page doesn't exist!</h3>
			<p>Why don't you return to the <a href="/" class="underline">home page</a>?</p>
		</div>
	</div>
</Layout>
