---
import Header from "@components/shell/header.astro";
import Footer from "@components/shell/footer.astro";
import SW from "@components/shell/sw.tsx";

import GtmHead from "@components/shell/gtm/gtmHead.astro";
import GtmFoot from "@components/shell/gtm/gtmFoot.astro";

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <GtmHead /> -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/img/favi/favicon.png" />
        <slot name="head" />
        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (
                localStorage.getItem("color-theme") === "dark" ||
                (!("color-theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
    </head>
    <body class="dark:bg-black flex flex-col h-screen transition-colors">
        <!-- <GtmFoot /> -->
        <Header />
        <div class="flex-grow">
            <slot />
        </div>
        <Footer />
        <script> import "flowbite"; </script>
        <SW client:only="preact" />
    </body>
</html>
